#food-form label {
  font-weight: bold;
}

#food-name {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  user-select: none;
}

#food-name option {
  padding: 8px 10px;
}

#food-name:hover {
  border-color: #999;
}

#food-form .form-group {
  margin-bottom: 15px; /* 폼 그룹 간격 조정 */
}

#food-form .form-control {
  width: 100%; /* 폼 컨트롤이 부모 요소의 전체 너비를 차지하도록 설정 */
}

#food-form button {
  width: 100%; /* 버튼이 부모 요소의 전체 너비를 차지하도록 설정 */
}

#form-group {
  width: 100%;
}

.add_title_div {
  margin-top: 60px;
  margin-bottom: 50px;
}

.add_title {
  font-size: 45px; /* 글자 크기 증가 */
  font-weight: bold; /* 굵은 글씨체 */
  color: #4e73df; /* 색상 변경 */
  margin-bottom: 50px; /* 아래 마진 추가 */
  animation: fadeInUp 1s;
}

.card {
  margin-top: 20px; /* 카드의 상단 마진 */
}

#food-form {
  margin: 30px; /* 폼 주변 마진 */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.food-div {
  animation: fadeInUp 1s;
}

.bg-gradient-primary {
  background-color: #3e382f;
  background-image: linear-gradient(180deg, #5d5549 10%, #2c271f 100%);
  background-size: cover;
}

.protein-intake-summary {
  text-align: center; /* 텍스트 중앙 정렬 */
  font-size: 1.1rem; /* 글자 크기 */
  color: #3e382f; /* 글자 색상 */
  margin-bottom: 1rem; /* 하단 마진 */
  /* 추가적인 스타일링 */
}

/* 달걀 아이콘 ㅎㅎ */

.icon-container {
  position: relative;
  font-size: 2em; /* 아이콘 크기 조절 */
  margin-right: 10px; /* 오른쪽 마진 설정 */
}

.base-icon {
  color: #e1d9d0; /* 기본 아이콘 색상 */
}

.progress-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: #887964; /* 진행률 아이콘 색상 */
  clip: rect(0, auto, auto, 0); /* 클리핑 영역 설정 */
}

.food-div {
  max-width: 500px; /* 최대 너비 설정 */
  margin: auto; /* 상단 및 하단 마진 자동으로 설정하여 중앙 정렬 */
}

#food-form {
  padding: 20px; /* 폼 내부에 패딩 추가 */
}

/* 레시피 부분 */
.recipe-item {
  display: flex; /* Flexbox를 사용하여 가로로 정렬합니다. */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-between; /* 요리하기 버튼을 오른쪽 끝으로 정렬 */
  margin-bottom: 20px; /* 레시피 아이템 간의 간격 조절 */
}

.recipe-content {
  display: flex; /* Flexbox를 사용하여 가로로 정렬합니다. */
  align-items: center; /* 세로 중앙 정렬 */
}

.recipe-content img {
  max-width: 100px; /* 사진의 최대 너비 조절 */
  margin-right: 10px; /* 사진과 이름 사이의 간격 조절 */
}

.recipe-name {
  font-size: 1.1rem;
  color: #3E382F;
  margin: 0; /* 기본 마진 제거 */
}

#loadingScreen {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  opacity: 0.8;
  background: white;
  z-index: 99;
  text-align: center;
}

#loadingScreen > img {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 100;
}

.mypage_title {
  animation: fadeInUp 1s;
}


/* 모달창 css */

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* 모달을 클릭할 수 있는 최상위 레이어 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); /* 어두운 배경 색상 */
}

.popup {
  background-color: #fff;
  width: 60%;
  height: 80%;
  z-index: 1000; /* 모달을 표시할 레이어 (모달 위에 위치) */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* mycss.css */

/* 레시피 팝업 전체 스타일 */
.recipe-popup {
  background-color: #f3f1ee;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  width: 100%;
  text-align: center;
}

/* 레시피 헤더 스타일 */
.recipe-header {
  margin-bottom: 20px;
}

/* 레시피 이름 스타일 */
#recipe-name {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

/* 레시피 정보 및 영양 정보 스타일 */
.recipe-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.recipe-info,
.recipe-nutrition {
  flex: 1;
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
}

.recipe-info h2,
.recipe-nutrition h2 {
  font-size: 24px;
  color: #555;
}

.recipe_images {
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
}

.recipe_images h2 {
  font-size: 24px;
  color: #555;
}


/* 이미지 스타일 */
#recipe-image {
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
}


/* 조리 방법 스타일 */
.recipe-manual {
  margin-top: 20px;
  text-align: left;
  flex: 1;
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
}

.recipe-manual h2 {
  font-size: 24px;
  color: #555;
}

.recipe-manual-content {
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}



.recipeimage img{
  width: 30%; /* 이미지 컨테이너의 최대 너비를 100%로 설정하여 화면에 맞게 조정 */
  height: auto; /* 이미지 컨테이너의 최대 너비를 800px로 제한 (원하는 크기로 조정) */
  margin: 0 auto; /* 가운데 정렬을 위해 좌우 여백을 자동으로 설정 */
}