#food-form label {
  font-weight: bold;
}

#food-name {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  user-select: none;
}

#food-name option {
  padding: 8px 10px;
}

#food-name:hover {
  border-color: #999;
}

.card {
  padding: 20px;
}

#food-form .form-group {
  margin-bottom: 15px; /* 폼 그룹 간격 조정 */
}

#food-form .form-control {
  width: 100%; /* 폼 컨트롤이 부모 요소의 전체 너비를 차지하도록 설정 */
}

#food-form button {
  width: 100%; /* 버튼이 부모 요소의 전체 너비를 차지하도록 설정 */
}

#form-group {
  width: 100%;
}

#add-title {
  margin-top: 50px;
  margin-bottom: 50px;
}

#add_title {
  font-size: 45px; /* 글자 크기 증가 */
  font-weight: bold; /* 굵은 글씨체 */
  color: #4e73df; /* 색상 변경 */
  margin-bottom: 30px; /* 아래 마진 추가 */
  animation: fadeInUp 1s;
}

.card {
  margin-top: 20px; /* 카드의 상단 마진 */
}

#food-form {
  margin: 30px; /* 폼 주변 마진 */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.food-div {
  animation: fadeInUp 1s;
}
